
<div class="container">
  
    <app-header></app-header>
    <router-outlet></router-outlet>

   <!--event based navigation-->
    <!--<app-header (electCatSelected) = "setCategory($event)"></app-header>-->

    <!--<div *ngIf ="selectedCategory == 'mobiles'; else  mobileAccessories">
        <app-mobiles [selectedCategory] = "selectedCategory"></app-mobiles>
    </div>-->
     
    <!--<ng-template #mobileAccessories>
        <app-shopping-cart></app-shopping-cart>
        <p [ngClass]="{'bg-test': selectedCategory == 'accessories'}" [ngStyle]="{backgroundColor: selectedCategory == 'accessories' ? 'yellow' : 'red'}">Coming soon.....</p>
        <p appListItemHighlight>Page under construction</p> custom directive-->
    <!--</ng-template>-->

  </div>
